/*HEADER SECTION START*/
header .logo  {
float: left;
width: 150px;
height: 60px;
background:#fde624 ;
}
header .logo img{
height: 96%;
margin-left: 30px;
}
.clearf:before,
.clearf:after {
content: " ";
display: table;
}
.clearf:after {
clear: both;
}
header {
height: 60px;
width:100%;

background: #3e4156;
background: black;
z-index:120;
}
header li {
float: left;
list-style-type:none;
border-right: 1px solid #252525;
}
header li a:hover{
color: #fde624;
}
.navb li {
float: left;
}

.navb li a,
#touch-menu {
width: 150px;
display: block;
height: 60px;
padding: 20px 7px;
font-weight: bold;
font-size: 14px;
color: #fff;
text-decoration: none;
text-align: center;
text-transform: uppercase;
letter-spacing: 1px;
}
#touch-menu img{
padding-top: 5px;
}
.navb li a:hover,
#touch-menu:hover {
color: #fde624;
}
#touch-menu {
display: none;
}
@media (max-width: 768px) {
header {
position: fixed;
top: 0;
left: 0;
right: 0;
height: 60px;
}
.navb a{
	margin-left: -40px;
}
#touch-menu {
display: block;
float: right;
height: 60px;
margin: -17px -47px;
}
.navb {
position: absolute;
top: 100%;
left: 0;
right: 0;
display: none;
}
.navb li {
float: none;
}
.navb li a {
color: black;
border-top: 1px solid #eee;
border-left: 3px solid transparent;
background: #fff;
}
.navb li:first-child a {
border-top: none;
}
.navb li a:hover {
color: black;
border-left: 5px solid black;
background: #fde624;
}
}
@media (max-width: 768px){
	header{
		position: fixed;
	}
	.tablica{
		margin-top: 60px;

	}
}
/*HEADER SECTION END*/

.images{
	width: 100%;
	height: 100%;
}
}
body{
	padding: 0;
	margin: 0;
	
}
th, td {
  border: 1px solid black;
}
td{
	height: 50px;
}
table{
	margin: 0;
}
.table{
	margin: 0;
}
tr td{
  padding: 0 !important;
  margin: 0 !important;
}
@media only screen and (max-width: 988px) {
	 .col-lg-1{
	 	width: 8.333333%;
	 }
	 .col-lg-10{
	 	width: 83.333333%;
	 }
	 .col-lg-11{
	 	width: 91.666667%;
	 }
	
}



/*FOOTER SECTION START*/
footer {
height:60px;
width:100%;
background: black;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
footer .logo {
float: right;
position: absolute;
right: 0;
width: 150px;
height: 60px;
background:#fde624;
display: flex;
flex-direction: row;
justify-content: center;
}
.footer-content{
height: 60px;
display: flex;
flex-direction: column;
font-size: 14px;
color: white;
justify-content: center;
align-items: center; 	
}
.footer-content p{
height: 9px;
}
footer .logo-left{
margin: 5%;
}
footer .logo-rigth{
padding-top: 3px;
margin: 5%;
}
.gmail{
padding-top: 10px;
color: white;
text-decoration: none;
}
.gmail:hover{
color: #fde624;
}
@media (max-width: 768px) {
.footer-content{
float: left;
font-size: 11px;
padding-top: 10px;
padding-left: 15px;
}
}
/*FOOTER SECTION END*/


