/*RESPONSIVE WEBSITE STUFF*/
*{
margin: 0;
box-sizing: border-box;
padding: 0;
list-style-type:none;
}

/*HEADER SECTION START*/

header .logo  {
float: left;
width: 150px;
height: 60px;
background:#fde624 ;
}
header .logo img{
height: 96%;
margin-left: 30px;
}

.clearf:before,
.clearf:after {
content: " ";
display: table;
}
.clearf:after {clear: both;}
header {
height: 60px;
width:100%;
position: fixed;
background: #3e4156;
background: black;
z-index:120;
}
header li {
float: left;
list-style-type:none;
border-right: 1px solid #252525;
}
header li a:hover{
color: #fde624;
}

.navb li {float: left;}
.navb li a,
#touch-menu {
width: 150px;
display: block;
height: 60px;
padding: 25px 7px;
font-weight: bold;
font-size: 14px;
color: #fff;
text-decoration: none;
text-align: center;
text-transform: uppercase;
letter-spacing: 1px;
}
.navb li a:hover,
#touch-menu:hover {color: #fde624;}
#touch-menu {display: none;}
@media (max-width: 768px) {
header {
position: fixed;
top: 0;
left: 0;
right: 0;
height: 60px;
}
#touch-menu {
display: block;
float: right;
height: 60px;
margin: -17px -47px;
}
.navb {
position: absolute;
top: 100%;
left: 0;
right: 0;
display: none;
}
.navb li {float: none;}
.navb li a {
color: black;
border-top: 1px solid #eee;
border-left: 3px solid transparent;
background: #fff;
}
.navb li:first-child a {border-top: none;}
.navb li a:hover {
color: black;
border-left: 5px solid black;
background: #fde624;
}
}
/*HEADER SECTION END*/


/*INFORMATION SECTION START*/
.information{
background-image: url(assets/img/big_information.png);
height: 100%;
width: 100%;
}
.information-left{
font-size: 17px;
height: 350px;
color: white;
text-align: center;
background-color: rgba(10,10,10,0.6) !important;
}
.text_info{
margin-top:5%;
text-align: center;
}
.information a {
text-decoration: none;
outline: none;
display: inline-block;
margin: 10px 20px;
padding: 10px 30px;
position: relative;
border: 2px solid #f1c40f;
color: #f1c40f;
font-family: 'Montserrat', sans-serif; 
transition: .4s;
}
.information a:after {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
margin: auto;
border: 2px solid rgba(0,0,0,0);
transition: .4s;
}
.information .btn a:hover:after {
border-color: #f1c40f;
width: calc(100% - 20px);
height: calc(100% + 20px);
}
/*INFORMATION SECTION END*/

/*DISCONT SECTION START*/
.discont {
background-image:url(assets/img/background.jpg);
background-repeat: no-repeat, repeat-x;
width: 100%;
height: 100%;
}
.info-left{
height: 350px;
width: 35%;
flex: 1;
font-size: 17px;
color: white;
margin-left: 0;
padding-top: 45px;
text-align: center;
background-color: rgba(10,10,10,0.6) !important;
}
.info-left{
flex: 1;
}
.discont-left{
font-size: 17px;
color: white;
}
.info-rigth{
padding-left: 50px !important;
padding-top: 50px !important;
}
.card {

}
/*DISCONT SECTION END*/
/*FOOTER SECTION START*/
footer {
height:60px;
width:100%;
background: black;
text-align: center;

}
footer .logo {
float: right;
position: absolute;
right: 0;
width: 150px;
height: 60px;
background:#fde624;
display: flex;
flex-direction: row;
justify-content: center;
}

.footer-content{
font-size: 14px;
color: white;
position: relative;
	
}
footer .logo-left{
margin: 5%;
}
footer .logo-rigth{
	padding-top: 3px;
	margin: 5%;
}
.gmail{
	padding-top: 10px;

	color: white;
	text-decoration: none;
}
.gmail:hover{
	color: #fde624;
}
@media (max-width: 768px) {
	footer{
		text-align: left;
	}
}
/*FOOTER SECTION END*/